In [1]:
import pandas as pd
lst1 = ['up','up','up','down','down','down','down' ]

lst2 = [10,14,20,50,50,30,40]

lst3 = [10,16,27,50,47,30,40]

lst4 = [10,16,30,50,45,27,40]

df = pd.DataFrame(

    {'direction': lst1,

     'price_t1': lst2,

     'price_t2': lst3,

     'price_t3': lst4

    })

In [2]:
df

  direction  price_t1  price_t2  price_t3
0        up        10        10        10
1        up        14        16        16
2        up        20        27        30
3      down        50        50        50
4      down        50        47        45
5      down        30        30        27
6      down        40        40        40

In [3]:
df_output = {'direction':[],'output':[]}

In [4]:
for i ,row in df.iterrows():
    if row.direction=='up':
        if(row.price_t1==row.price_t2 and row.price_t2 == row.price_t3):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
        elif(row.price_t1>row.price_t2 and row.price_t1>row.price_t3):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
        elif(row.price_t2>row.price_t1 and row.price_t2>row.price_t3):
            df_output['direction'].append('up')
            df_output['output'].append('price_t2')
        elif(row.price_t3>row.price_t1 and row.price_t3>row.price_t2):
            df_output['direction'].append('up')
            df_output['output'].append('price_t3')
        elif(row.price_t1>row.price_t2 and row.price_t1==row.price_t3):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
          
        elif(row.price_t1>row.price_t3 and row.price_t1==row.price_t2):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
            
        elif(row.price_t2>row.price_t1 and row.price_t2==row.price_t3):
            df_output['direction'].append('up')
            df_output['output'].append('price_t2')
            
        elif(row.price_t2>row.price_t3 and row.price_t2==row.price_t1):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
            
        elif(row.price_t3>row.price_t2 and row.price_t3==row.price_t1):
            df_output['direction'].append('up')
            df_output['output'].append('price_t1')
        elif(row.price_t3>row.price_t1 and row.price_t3==row.price_t2):
            df_output['direction'].append('up')
            df_output['output'].append('price_t2')
    if row.direction=='down':
        if(row.price_t1==row.price_t2 and row.price_t2 == row.price_t3):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
        elif(row.price_t1<row.price_t2 and row.price_t1<row.price_t3):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
        elif(row.price_t2<row.price_t1 and row.price_t2<row.price_t3):
            df_output['direction'].append('down')
            df_output['output'].append('price_t2')
        elif(row.price_t3<row.price_t1 and row.price_t3<row.price_t2):
            df_output['direction'].append('down')
            df_output['output'].append('price_t3')
        elif(row.price_t1<row.price_t2 and row.price_t1==row.price_t3):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
          
        elif(row.price_t1<row.price_t3 and row.price_t1==row.price_t2):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
            
        elif(row.price_t2<row.price_t1 and row.price_t2==row.price_t3):
            df_output['direction'].append('down')
            df_output['output'].append('price_t2')
            
        elif(row.price_t2<row.price_t3 and row.price_t2==row.price_t1):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
            
        elif(row.price_t3<row.price_t2 and row.price_t3==row.price_t1):
            df_output['direction'].append('down')
            df_output['output'].append('price_t1')
        elif(row.price_t3<row.price_t1 and row.price_t3==row.price_t2):
            df_output['direction'].append('down')
            df_output['output'].append('price_t2')

In [5]:
df_output

{'direction': ['up', 'up', 'up', 'down', 'down', 'down', 'down'],
 'output': ['price_t1',
  'price_t2',
  'price_t3',
  'price_t1',
  'price_t3',
  'price_t3',
  'price_t1']}

In [6]:
df_output_new =pd.DataFrame(df_output)

In [7]:
df_output_new

  direction    output
0        up  price_t1
1        up  price_t2
2        up  price_t3
3      down  price_t1
4      down  price_t3
5      down  price_t3
6      down  price_t1